<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="sdl2.nuget" version="2.28.5" targetFramework="native" />
  <package id="sdl2.nuget.redist" version="2.28.5" targetFramework="native" />
  <package id="sdl2.v140.redist" version="2.0.4" targetFramework="native" />
  <package id="sdl2_mixer" version="2.0.0" targetFramework="native" developmentDependency="true" />
  <package id="sdl2_mixer.nuget" version="2.6.3" targetFramework="native" />
  <package id="sdl2_mixer.nuget.redist" version="2.6.3" targetFramework="native" />
  <package id="sdl2_ttf.nuget" version="2.20.2" targetFramework="native" />
  <package id="sdl2_ttf.nuget.redist" version="2.20.2" targetFramework="native" />
</packages>